@model IEnumerable<NutriTrackData.Entities.Product>

@{
    ViewData["Title"] = "Product List";
}

<h2>Product List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Calories</td>
                <td>@product.Protein</td>
                <td>@product.Carbs</td>
                <td>@product.Fat</td>
                <td>
                    <a href="@Url.Action("Edit", "Product", new { id = product.Id })" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Product")" class="btn btn-success">Add New Product</a>

